@mixin typography() {
  :root {
    --typography-font-family: 'Noto Sans', Roboto, Helvetica, Arial, sans-serif;
    --typography-font-family-variant: 'Roboto Mono', Roboto, Helvetica, Arial, monospace;
  }

  body {
    font-family: var(--typography-font-family);
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--typography-font-family);
    font-weight: 500;
    text-wrap: balance;
  }

  h1,
  .headline-l {
    font-size: 34px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0;
  }

  h2,
  .headline-m {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0;
  }

  h3,
  .headline-s {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0;
  }

  h6,
  .subtitle-l {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  h6,
  .subtitle-m {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  p,
  .body-l {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .body-m {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0;
  }

  .caption {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  .overline {
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .link {
    text-decoration: underline;
    color: var(--color-primary);
    transition: .3s;
  
    &:hover {
      opacity: .7;
    }
  }

  hr {
    border: 0;
    border-block-start-width: 1px;
    border-style: solid;
    border-color: var(--color-outline);
    width: 100%;
    margin-block: 1rem;
    transition: border-color 0.3s ease;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}