// https://blog.logrocket.com/creating-custom-select-dropdown-css/

@mixin select() {
  select {
    appearance: none;
    border: none;
    cursor: pointer;

    color: var(--color-text-high-emphasis);
    background-color: transparent;
    outline: 1px solid var(--color-outline);

    border-radius: var(--shape-small);
    padding: 0 16px;
    width: 200px;
    height: 56px;
    outline-offset: 0;

    font-family: var(--typography-font-family);
    font-size: 14px;
    letter-spacing: 0.5px;

    &:hover:not(:focus) {
      outline: 1px solid var(--color-text-medium-emphasis);
    }

    &:focus {
      outline: 2px solid var(--color-primary);
    }
  }
}
