.d-breadcrumbs-container {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--color-text-medium-emphasis);
  margin-bottom: 16px;
}

a:not(.d-breadcrumbs-active) {
  text-decoration: underline;
  transition: color .2s;
}

a:not(.d-breadcrumbs-active):hover {
  color: var(--color-text-high-emphasis);
}

.d-breadcrumbs-active {
  cursor: default;
}
