.d-order-container {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(max-content, 900px) auto;
  gap: 24px;
}

.d-order-products {
  padding: 16px;
  height: fit-content;
  background-color: var(--color-surface-container);
  border-radius: var(--shape-large);
  width: 412px;
}

d-map {
  flex-shrink: 0;
  height: 412px;
  width: 412px;
}
